<!--The content below is only a placeholder and can be replaced.-->
<div class="appContainer">
  <h1>Welcome to {{ title | titlecase }}!</h1>

  <div class="btnsContainer">
    <button class="viewBtn" (click)="detailView = !detailView">
      {{ detailView ? "Short" : "Details" }}
    </button>

    <button class="viewBtn" (click)="sortedByAsc = !sortedByAsc">
      Sorted by price {{ sortedByAsc ? " ↓" : " ↑" }}
    </button>

    <button class="viewBtn" (click)="filter = !filter">
      {{ filter ? "All beers" : "More 2 euros\nper litre" }}
    </button>
  </div>

  <div class="productsContainer" *ngIf="products$ | async as products">
    <app-product
      *ngFor="
        let product of products
          | sorterProducts : sortedByAsc
          | filterProducts : filter;
        let i = index
      "
      [product]="product"
      [detailView]="detailView"
    ></app-product>
  </div>
</div>
